[user]
  name = tokoyax
  email = tokoyax.dev@gmail.com
[color]
  ui = true
[alias]
  # http://qiita.com/peccul/items/90dd469e2f72babbc106
  # http://qiita.com/qurage/items/daa67763e5a0090af06a
  co = checkout
  cm = commit -m
  st = status
  # Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
  stt = status -uno
  # ログを綺麗に表示
  l = log --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b' --graph --name-status
  # ファイル名のみの差分を表示する
  difff = diff --name-only
  # staged diff
  diffs = diff --cached
  unstage = reset HEAD
[core]
  excludesfile = ~/.gitignore_global
  #editor = \"$EDITOR\"
  editor = "/usr/local/bin/nvim"
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[credential]
  helper = cache --timeout=3600
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[init]
  templatedir = ~/.git_template
[push]
	default = simple
[ghq]
  root = ~/src
